In [22]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [23]:
import random
import string
import uuid

In [24]:
accounts_path = 'files/Accounts List.csv'
leads_path = 'files/Leads List.csv'
accounts_df = pd.read_csv(accounts_path)
leads_df = pd.read_csv(leads_path)

In [25]:
accounts_df[accounts_df['Company Name'].isna()]

,Company Name,Company Revenue,Empoyee Head Count in millions,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone
212,NaN,1200.0,1800,Sporting Goods,"Product Development, Design, Engineering, Cycl...",Privately Held,United States,Waterloo,EST

In [26]:
accounts_duplicates = accounts_df[accounts_df['Company Name'].duplicated()]['Company Name']
accounts_df[accounts_df['Company Name'].isin(accounts_duplicates)].sort_values(by='Company Name', ascending=True).reset_index(drop=True)

,Company Name,Company Revenue,Empoyee Head Count in millions,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone
0,E. & J. Gallo Winery,5000.0,6400,Wine & Spirits,NaN,Privately Held,United States,Modesto,EST
1,E. & J. Gallo Winery,5000.0,6400,Beverage Manufacturing,NaN,Privately Held,United States,Modesto,EST
2,East Carolina University,300.0,4200,Higher Education,"Arts and Sciences, Business, Education, Fine A...",Educational Institution,United States,Greenville,EST
3,East Carolina University,900.0,4800,Higher Education,"Arts and Sciences, Business, Education, Fine A...",Educational,United States,Greenville,EST
4,Jared the Galleria of Jewelry,1100.0,2400,Retail Luxury Goods and Jewelry,NaN,Public Company,United States,Akron,EST
5,Jared the Galleria of Jewelry,1100.0,2400,Retail Luxury Goods and Jewelry,NaN,Public Company,United States,Akron,EST
6,Lands'​ End,1500.0,5000,Retail Apparel and Fashion,"Retail, Direct Sales, Catalog, Digital, Appare...",Public Company,United States,Dodgeville,EST
7,Lands'​ End,1550.0,5000,Apparel & Fashion,"Retail, Direct Sales, Catalog, Digital, Appare...",Public Company,United States,Dodgeville,EST
8,"TETRA Technologies, Inc.",800.0,1300,Oil and Gas,"Early Production Facilities, Water Management ...",Public Company,United States,The Woodlands,EST
9,"TETRA Technologies, Inc.",700.0,1500,Oil and Gas,"Early Production Facilities, Water Management ...",Public Company,United States,The Woodlands,EST
10,The Hershey Company,8500.0,16000,Manufacturing,Consumer Packaged Goods,Public Company,United States,Hershey,EST
11,The Hershey Company,8500.0,16000,Manufacturing,Consumer Packaged Goods,Public Company,United States,Hershey,EST
12,The Johns Hopkins University School of Medicine,3500.0,20000,Hospitals and Health Care,NaN,Educational Institution,United States,Baltimore,EST
13,The Johns Hopkins University School of Medicine,4000.0,25000,Hospitals and Health Care,NaN,Educational,United States,Baltimore,EST
14,"Zakat, Tax and Customs Authority",600.0,1200,Government Administration,"Zakat, Tax, VAT, customs",Government Agency,Saudi Arabia,Saudi Arabia,AST
15,"Zakat, Tax and Customs Authority",600.0,1200,Government Administration,"Zakat, Tax, VAT, customs",Government Agency,Saudi Arabia,Riyadh,AST

In [27]:
a_i = accounts_df[accounts_df['Company Name'].isna()].index
accounts_df.loc[a_i, 'Company Name'] = 'Trek Bicycle'

In [28]:
accounts_df =  accounts_df.sort_values(by='Company Name').reset_index(drop=True)
accounts_df['AccountID'] = range(accounts_df.shape[0])
accounts_df['AccountID'] = 1000 + (accounts_df.index * 10)
accounts_df['Company Revenue'] = accounts_df['Company Revenue'].astype(int)

In [29]:
accounts_df.rename(columns={' Empoyee Head Count in millions': 'Employee Head Count'}, inplace=True)
accounts_df.rename(columns={'Company Revenue': 'Company Revenue (in millions)'}, inplace=True)
accounts_df.drop_duplicates(subset='Company Name', keep='first', inplace=True)
accounts_df.reset_index(drop=True, inplace=True)

In [30]:
def generate_license_key():
    unique_id = uuid.uuid4().hex

    characters = string.ascii_uppercase + string.digits
    random_chars = ''.join(random.choice(characters) for i in range(4))

    license_key = (unique_id + random_chars)[:20]
    
    return license_key

In [31]:
# accounts_df['ClientID'] = [generate_license_key() for account in range(accounts_df.shape[0])]

In [32]:
accounts_df

,Company Name,Company Revenue (in millions),Employee Head Count,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone,AccountID
0,-X-,3800,12000,Food Production,NaN,Public Company,United States,NaN,EST,1000
1,1st Source Bank,300,1150,Banking,"Retail Banking, Private Banking, Business Bank...",Public Company,United States,South Bend,EST,1010
2,AMETEK,6600,21500,Electrical & Electronic Manufacturing,NaN,Public Company,United States,Berwyn,EST,1020
3,ARASCO,2200,4300,Food Production,"Animal Feed Manufacturing, Food Manufacturing,...",Privately Held,Saudi Arabia,Riyadh,AST,1030
4,AVI-SPL,1200,2200,IT Services and IT Consulting,"AV Systems Integration, Video Communications, ...",Privately Held,United States,Tampa,EST,1040
...,...,...,...,...,...,...,...,...,...,...
685,dormakaba Americas,3200,9400,Wholesale Building Materials,"Door Hardware, Automatic/Revolving Doors, Glas...",Public Company,United States,Indianapolis,EST,7930
686,du,3000,2000,Telecommunications,"Telecommunication, Media, Advertising, Technol...",Public Company,United Arab Emirates,Dubai,GST,7940
687,eXtra (United Electronics Co.),1100,2000,Retail,"After Sales Services, consumer goods, customer...",Public Company,Saudi Arabia,Al-Khobar,AST,7950
688,geidea,200,1200,Financial Services,"Point of Sale, payments , applications, Digita...",Privately Held,Saudi Arabia,Riyadh,AST,7960
689,school-board-of-broward-county,9000,31000,Education Administration Programs,NaN,Educational,United States,Fort Lauderdale,EST,7970

In [33]:
# def generate_ids(group):
#     group['LeadID'] = range(100000, 100000 + 10 * len(group), 10)
#     return group
    
# leads_df = leads_df.groupby('Company').apply(generate_ids).reset_index(drop=True)

In [34]:
leads_df = pd.merge(leads_df, accounts_df[['Company Name', 'AccountID']], left_on='Company', right_on='Company Name')
leads_df.drop(columns='Company Name', inplace=True)

In [35]:
leads_df['LeadID'] = np.arange(leads_df.shape[0])
leads_df['LeadID'] = 100000 + leads_df.index * 10

In [36]:
leads_df

,Company,Position,First Name,Last Name,Email,AccountID,LeadID
0,American Chemical Society,"Director, Technology Strategy & Execution",Jennifer,Arndt,jarndt@acs.org,1390,100000
1,American Chemical Society,Director of Product Development and Solutions ...,Mitchell,Bakos,mbakos@acs.org,1390,100010
2,American Chemical Society,"Senior Director & Chief of Staff, Product Stra...",Jessica,Rucker,jrucker@acs.org,1390,100020
3,ArisGlobal,IT Director at ArisGlobal Company,Luka,Sustarsic,lsustarsic@arisglobal.com,1620,100030
4,ArisGlobal,"Vice President, IT Operations",Darren,Newbould,dnewbould@arisglobal.com,1620,100040
5,ArisGlobal,Director Technology,Juby,Rajan,jrajan@arisglobal.com,1620,100050
6,Armstrong World Industries,Director of Information Technology,Jermey,M,m@armstrongceilings.com,1640,100060
7,Armstrong World Industries,"Senior Director, Technology",Micheal,Lorenz,michael_lorenz@armstrongceilings.com,1640,100070
8,Armstrong World Industries,Director - Business Development,Tom,Stafford,tstafford@armstrongceilings.com,1640,100080
9,Fitch Ratings,"Senior Director, Technology Operations",Mike,Brooks,mike.brooks@fitchratings.com,3410,100090
10,Fitch Ratings,Director of Information Technology,Geraldine,Foster,geraldine.foster@fitchratings.com,3410,100100
11,Fitch Ratings,Director Of Information Technology,Micheal,Gordon,michael.gordon@fitchratings.com,3410,100110
12,Irvine Company,Chief Technology Officer,Abe,Wong,abe.wong@irvinecompany.com,4300,100120
13,Irvine Company,"Senior Director, Technology Enablement",Lisa,Larkin,llarkin@irvinecompany.com,4300,100130
14,Irvine Company,"Vice President,Technology and Innovation",Tim,McClain,tmcclain@irvinecompany.com,4300,100140
15,National Geographic,Chief Technology Officer,Jason,Southern,jason.southern@nationalgeographic.com,5380,100150
16,Shure Incorporated,Executive Vice President & Chief Technology Of...,Sameh,Sabet,sabets@shure.com,6590,100160
17,Shure Incorporated,"Senior Vice President, Chief Information Officer",Robin,Lane,robin@shure.com,6590,100170
18,Shure Incorporated,"Senior Director, IT Infrastructure",Timothy,Lambe,lambet@shure.com,6590,100180
19,Shure Incorporated,Vice President of Corporate Development,Brian,Woodland,brian@shure.com,6590,100190
20,Evoqua Water Technologies,Director of Technology and Innovation,Richard,Joshi,richard.joshi@evoqua.com,3290,100200
21,Evoqua Water Technologies,Head of Technology and Applications,Xiangyi,Qiao,xiangyi.qiao@evoqua.com,3290,100210
22,SS&C Intralinks,Vice President of Infrastructure Services,Tom,Catalano,tom.catalano@intralinks.com,6320,100220
23,SS&C Intralinks,Director of Technical Program Operations,Sandra-Jane,Mancini,sandrajane.mancini@intralinks.com,6320,100230
24,SS&C Intralinks,Head of Corporate Development,Luis Felipe,Bíscaro,felipe@intralinks.com,6320,100240
25,Phibro Animal Health,Chief Information Officer,Gary,Fling,gary.fling@pahc.com,5870,100250
26,Buckman,Chief Digital Officer,NM,Rao,nmrao@buckman.com,2160,100260
27,Tennant Company,Chief Information Officer,Micheal,Mathews,michael@tennantco.com,7100,100270
28,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com,6230,100280
29,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com,6230,100290
30,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,6230,100300
31,"EMD Serono, Inc.",Senior Vice President,Gaby,Murphy,gaby.murphy@emdserono.com,2990,100310
32,Simpson Strong-Tie,"EVP, Chief Technology Officer",Udit,Mehta,udit@strongtie.com,6600,100320
33,Simpson Strong-Tie,"Vice President, IT Infrastructure & Operations",John,Meng,jmeng@strongtie.com,6600,100330
34,Simpson Strong-Tie,Information Technology Operations Manager,Kirk,Smith,kirk.smith@strongtie.com,6600,100340
35,Avanos Medical,Director of Global IT Infrastructure,Seth,Majors,seth.majors@avanos.com,1730,100350
36,Avanos Medical,Chief Information Officer,Siobhan,Smyth,siobhan.smyth@avanos.com,1730,100360
37,Avanos Medical,Chief Executive Officer,Joe,Woody,joe.woody@avanos.com,1730,100370
38,Hollister Incorporated,"Director, Global IT Business Solutions",Robin,Sacher,robin.sachar@hollister.com,4050,100380
39,Hollister Incorporated,"Vice President, Business Transformation",Stephen,Collum,stephen.collum@hollister.com,4050,100390
40,Hollister Incorporated,President and COO,Abinash,Nayak,abinash.nayak@hollister.com,4050,100400

In [37]:
accounts_df

,Company Name,Company Revenue (in millions),Employee Head Count,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone,AccountID
0,-X-,3800,12000,Food Production,NaN,Public Company,United States,NaN,EST,1000
1,1st Source Bank,300,1150,Banking,"Retail Banking, Private Banking, Business Bank...",Public Company,United States,South Bend,EST,1010
2,AMETEK,6600,21500,Electrical & Electronic Manufacturing,NaN,Public Company,United States,Berwyn,EST,1020
3,ARASCO,2200,4300,Food Production,"Animal Feed Manufacturing, Food Manufacturing,...",Privately Held,Saudi Arabia,Riyadh,AST,1030
4,AVI-SPL,1200,2200,IT Services and IT Consulting,"AV Systems Integration, Video Communications, ...",Privately Held,United States,Tampa,EST,1040
...,...,...,...,...,...,...,...,...,...,...
685,dormakaba Americas,3200,9400,Wholesale Building Materials,"Door Hardware, Automatic/Revolving Doors, Glas...",Public Company,United States,Indianapolis,EST,7930
686,du,3000,2000,Telecommunications,"Telecommunication, Media, Advertising, Technol...",Public Company,United Arab Emirates,Dubai,GST,7940
687,eXtra (United Electronics Co.),1100,2000,Retail,"After Sales Services, consumer goods, customer...",Public Company,Saudi Arabia,Al-Khobar,AST,7950
688,geidea,200,1200,Financial Services,"Point of Sale, payments , applications, Digita...",Privately Held,Saudi Arabia,Riyadh,AST,7960
689,school-board-of-broward-county,9000,31000,Education Administration Programs,NaN,Educational,United States,Fort Lauderdale,EST,7970

In [38]:
client_df = pd.DataFrame(data=[[generate_license_key(), 'ERP Center, Inc.']], columns=[['ClientID', 'Subscriber']])
client_df

               ClientID        Subscriber
0  15f4d573ad6743fc8bbe  ERP Center, Inc.

In [39]:
accounts_df = accounts_df.set_index('AccountID').reset_index()
accounts_df

,AccountID,Company Name,Company Revenue (in millions),Employee Head Count,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone
0,1000,-X-,3800,12000,Food Production,NaN,Public Company,United States,NaN,EST
1,1010,1st Source Bank,300,1150,Banking,"Retail Banking, Private Banking, Business Bank...",Public Company,United States,South Bend,EST
2,1020,AMETEK,6600,21500,Electrical & Electronic Manufacturing,NaN,Public Company,United States,Berwyn,EST
3,1030,ARASCO,2200,4300,Food Production,"Animal Feed Manufacturing, Food Manufacturing,...",Privately Held,Saudi Arabia,Riyadh,AST
4,1040,AVI-SPL,1200,2200,IT Services and IT Consulting,"AV Systems Integration, Video Communications, ...",Privately Held,United States,Tampa,EST
...,...,...,...,...,...,...,...,...,...,...
685,7930,dormakaba Americas,3200,9400,Wholesale Building Materials,"Door Hardware, Automatic/Revolving Doors, Glas...",Public Company,United States,Indianapolis,EST
686,7940,du,3000,2000,Telecommunications,"Telecommunication, Media, Advertising, Technol...",Public Company,United Arab Emirates,Dubai,GST
687,7950,eXtra (United Electronics Co.),1100,2000,Retail,"After Sales Services, consumer goods, customer...",Public Company,Saudi Arabia,Al-Khobar,AST
688,7960,geidea,200,1200,Financial Services,"Point of Sale, payments , applications, Digita...",Privately Held,Saudi Arabia,Riyadh,AST
689,7970,school-board-of-broward-county,9000,31000,Education Administration Programs,NaN,Educational,United States,Fort Lauderdale,EST

In [40]:
leads_df = leads_df.set_index('AccountID').reset_index().set_index('LeadID').reset_index()
leads_df

,LeadID,AccountID,Company,Position,First Name,Last Name,Email
0,100000,1390,American Chemical Society,"Director, Technology Strategy & Execution",Jennifer,Arndt,jarndt@acs.org
1,100010,1390,American Chemical Society,Director of Product Development and Solutions ...,Mitchell,Bakos,mbakos@acs.org
2,100020,1390,American Chemical Society,"Senior Director & Chief of Staff, Product Stra...",Jessica,Rucker,jrucker@acs.org
3,100030,1620,ArisGlobal,IT Director at ArisGlobal Company,Luka,Sustarsic,lsustarsic@arisglobal.com
4,100040,1620,ArisGlobal,"Vice President, IT Operations",Darren,Newbould,dnewbould@arisglobal.com
5,100050,1620,ArisGlobal,Director Technology,Juby,Rajan,jrajan@arisglobal.com
6,100060,1640,Armstrong World Industries,Director of Information Technology,Jermey,M,m@armstrongceilings.com
7,100070,1640,Armstrong World Industries,"Senior Director, Technology",Micheal,Lorenz,michael_lorenz@armstrongceilings.com
8,100080,1640,Armstrong World Industries,Director - Business Development,Tom,Stafford,tstafford@armstrongceilings.com
9,100090,3410,Fitch Ratings,"Senior Director, Technology Operations",Mike,Brooks,mike.brooks@fitchratings.com
10,100100,3410,Fitch Ratings,Director of Information Technology,Geraldine,Foster,geraldine.foster@fitchratings.com
11,100110,3410,Fitch Ratings,Director Of Information Technology,Micheal,Gordon,michael.gordon@fitchratings.com
12,100120,4300,Irvine Company,Chief Technology Officer,Abe,Wong,abe.wong@irvinecompany.com
13,100130,4300,Irvine Company,"Senior Director, Technology Enablement",Lisa,Larkin,llarkin@irvinecompany.com
14,100140,4300,Irvine Company,"Vice President,Technology and Innovation",Tim,McClain,tmcclain@irvinecompany.com
15,100150,5380,National Geographic,Chief Technology Officer,Jason,Southern,jason.southern@nationalgeographic.com
16,100160,6590,Shure Incorporated,Executive Vice President & Chief Technology Of...,Sameh,Sabet,sabets@shure.com
17,100170,6590,Shure Incorporated,"Senior Vice President, Chief Information Officer",Robin,Lane,robin@shure.com
18,100180,6590,Shure Incorporated,"Senior Director, IT Infrastructure",Timothy,Lambe,lambet@shure.com
19,100190,6590,Shure Incorporated,Vice President of Corporate Development,Brian,Woodland,brian@shure.com
20,100200,3290,Evoqua Water Technologies,Director of Technology and Innovation,Richard,Joshi,richard.joshi@evoqua.com
21,100210,3290,Evoqua Water Technologies,Head of Technology and Applications,Xiangyi,Qiao,xiangyi.qiao@evoqua.com
22,100220,6320,SS&C Intralinks,Vice President of Infrastructure Services,Tom,Catalano,tom.catalano@intralinks.com
23,100230,6320,SS&C Intralinks,Director of Technical Program Operations,Sandra-Jane,Mancini,sandrajane.mancini@intralinks.com
24,100240,6320,SS&C Intralinks,Head of Corporate Development,Luis Felipe,Bíscaro,felipe@intralinks.com
25,100250,5870,Phibro Animal Health,Chief Information Officer,Gary,Fling,gary.fling@pahc.com
26,100260,2160,Buckman,Chief Digital Officer,NM,Rao,nmrao@buckman.com
27,100270,7100,Tennant Company,Chief Information Officer,Micheal,Mathews,michael@tennantco.com
28,100280,6230,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com
29,100290,6230,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com
30,100300,6230,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com
31,100310,2990,"EMD Serono, Inc.",Senior Vice President,Gaby,Murphy,gaby.murphy@emdserono.com
32,100320,6600,Simpson Strong-Tie,"EVP, Chief Technology Officer",Udit,Mehta,udit@strongtie.com
33,100330,6600,Simpson Strong-Tie,"Vice President, IT Infrastructure & Operations",John,Meng,jmeng@strongtie.com
34,100340,6600,Simpson Strong-Tie,Information Technology Operations Manager,Kirk,Smith,kirk.smith@strongtie.com
35,100350,1730,Avanos Medical,Director of Global IT Infrastructure,Seth,Majors,seth.majors@avanos.com
36,100360,1730,Avanos Medical,Chief Information Officer,Siobhan,Smyth,siobhan.smyth@avanos.com
37,100370,1730,Avanos Medical,Chief Executive Officer,Joe,Woody,joe.woody@avanos.com
38,100380,4050,Hollister Incorporated,"Director, Global IT Business Solutions",Robin,Sacher,robin.sachar@hollister.com
39,100390,4050,Hollister Incorporated,"Vice President, Business Transformation",Stephen,Collum,stephen.collum@hollister.com
40,100400,4050,Hollister Incorporated,President and COO,Abinash,Nayak,abinash.nayak@hollister.com

In [41]:
# engine = create_engine('mysql+pymysql://root:00203053@localhost:3306/CRMContacts')
# engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@aws-erp.cxugcosgcicf.us-east-2.rds.amazonaws.com:3306/erpcrmdb')
# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False)
# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False)

In [42]:
accounts_df.to_csv('files/accounts.csv', index=False)
leads_df.to_csv('files/leads.csv', index=False)

In [2]:
print(1)

1